.promo {

    position: relative;
    height: 100vh;
    display: flex;
    align-items: flex-start;

    // .promo__video

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__inner {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26));
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 178px / 900px * 100vh 20px 265px / 900px * 100vh;
    }

    &__wrap {
        position: relative;
        z-index: 10;
        @extend %flex-col-center;
    }

    // .promo__content

    &__content {
        @extend %flex-col-center;
    }

    // .promo__logo

    &__logo {
        position: relative;
        z-index: 1;
        margin-bottom: 15px / 900px * 100vh;

        &:before {
            content: '';
            position: absolute;
            left: -154px;
            top: -55px;
            z-index: -1;
            @include round(339px, rgba(255, 8, 0, 0.6));

            @media(max-width: 1200px) {
                width: 250px;
                height: 250px;
                top: -25px;
                left: -90px;
            }

            @media(max-width: 575px) {
                width: 150px;
                height: 150px;
                top: 0;
                left: -20px;
            }

            @media(max-width: 374px) {
                width: 100px;
                height: 100px;
            }
        }
    }

    // .promo__event-title

    &__event-title {
        font-size: 34px;
        line-height: 46 / 34 * 100%;
        color: #FFFFFF;
        margin-bottom: 16px / 900px * 100vh;

        @media(max-width: 575px) {
            font-size: 30px;
        }
    }

    // .promo__btn

    &__btn {
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 67px / 900px * 100vh;

        @media(max-width: 575px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.event {

    text-align: center;

    // .event__date

    &__date {
        font-weight: 700;
        font-size: 22px;
        line-height: 30 / 22 * 100%;
        color: $yellow;

        @media(max-width: 575px) {
            font-size: 18px;
        }
    }
}