.footer {

    padding: 33px 0;
    background-color: $dark-blue;
    color: #FFFFFF;

    // .footer__inner

    &__inner {
        @extend %flex-row;
        align-items: flex-end;

        @media(max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }

    // .footer__contact

    &__contact {
        font-weight: 600;
        @extend %text-18;
    }

    // .footer__contact-email

    &__contact-email {
        display: block;
        text-decoration: underline;
        margin-top: 17px;

        &:hover {
            text-decoration: none;
        }

        @media(max-width: 575px) {
            margin-top: 10px;
        }
    }

    // .footer__copy

    &__copy {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.6;

        @media(max-width: 767px) {
            margin: 20px 0;
        }
    }

    // .footer__social

    &__social {
        display: flex;
    }

    // .footer__social-item

    &__social-item+&__social-item {
        margin-left: 27px;
    }

    &__social-item {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid #fff;
        transition: .3s all;

        &:hover {
            background-color: #fff;

            .footer__social-img {
                path {
                    fill: $dark-blue;
                }
            }
        }
    }

    // .footer__social-link

    &__social-link {
        width: 100%;
        height: 100%;
        @extend %flex-center;
    }

    // .footer__social-img

    &__social-img {
        path {
            transition: .3s fill;
        }
    }
}